@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------ Custom Scroll bar -------- */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* --------------------------------- */
